{% extends "template.html" %}

{% block judul %}
<h2>Pengenalan tentang diriku</h2>
{% endblock judul %}

{% block content-1 %}
<h4>Python</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad blanditiis alias reiciendis rerum ipsam, quia ipsum cupiditate ullam voluptatem sapiente aliquid reprehenderit illum quidem nihil molestiae? Consequatur, inventore veritatis?</p>
{% endblock content-1 %}

{% block content-2 %}
<h4>Javascript</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad blanditiis alias reiciendis rerum ipsam, quia ipsum cupiditate ullam voluptatem sapiente aliquid reprehenderit illum quidem nihil molestiae? Consequatur, inventore veritatis?</p>
{% endblock content-2 %}

{% block content-3 %}
<h4>PHP</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad blanditiis alias reiciendis rerum ipsam, quia ipsum cupiditate ullam voluptatem sapiente aliquid reprehenderit illum quidem nihil molestiae? Consequatur, inventore veritatis?</p>
{% endblock content-3 %}

{% block footer %}
<div class="footer">Hubungi kami</div>
{% endblock footer %}