{% extends "template.html" %}

{% block about %}
<p id="about">Kenalin nih, namaku Fatchul Rizqi, bisa dipanggil Rizqi. Aku duduk di bangku SMA. Aku adalah seorang programmer yang memiliki ketertarikan tinggi terhadap teknologi AI. Kedepannya, aku akan terus mengembangkan skill ku hingga bisa expert didalam bidang tersebut. Sekian saja pengenalan tentang diriku, Byee byeee...</p>
{% endblock about %}

{% block skill-1 %}
<h4>Python</h4>
<p>Ini adalah bahasa pemrograman yang saat ini paling saya kuasai karena memang untuk menjadi AI devoloper, Python adalah bahasa yang tepat untuk membuat ide tersebut.</p>
{% endblock skill-1 %}

{% block skill-2 %}
<h4>HTML</h4>
<p>Menurut saya HTML adalah bahasa markup yang mesti dikuasai oleh programmer, karena ini adalah dasar untuk pembuatan website. Website ini pun dikembangkan dengan HTML.</p>
{% endblock skill-2 %}

{% block skill-3 %}
<h4>CSS</h4>
<p>CSS digunakan untuk mempercantik komponen - komponen yang ada di HTML. Jadi HTML dan CSS adalah merupakan satu kesatuan. Jika programmer ingin membuat suatu website, maka mereka harus tau dan paham dulu mengenai kedua bahasa ini.</p>
{% endblock skill-3 %}

{% block skill-4%}
<h4>Javascript</h4>
<p>Javascript merupakan bahasa yang cukup populer karena dia memiliki banyak sekali framework yang useable. Javascript juga berguna agar website kita menjadi dinamis. Untuk itu jika programmer ingin membuat suatu website yang interaktif, setidaknya mereka harus menguasai bahasa ini.</p>
{% endblock skill-4%}

{% block footer %}
<div class="social-img">
    <img src="" alt="github">
    <img src="" alt="instagram">
    <img src="" alt="thread">
    <img src="" alt="whatsapp">
</div>
<div class="copyright">Created by Fatchul Rizqi | &copy;copyright 2025</div>
{% endblock footer %}