{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "templates-style/view-css.html "%}
    <title>{{title}}</title>
</head>
<body>
    <!-- HEADING START -->
    <div class="heading">
        <img src="" alt="Foto Rizki">
        <h1 class="open-heading">Welcome to My website</h1>
    </div>
    <ul>  
        {% for link,name in links %}
            <li><a href="{{link}}">{{name}}</a></li>
        {% endfor %}
    </ul>

    <!-- HEADING END -->

    <!-- ABOUT START -->
    {% block about %}
    {% endblock about %}
     <!-- ABOUT END -->
    

    <div class="col">
        {% block skill-1 %}
        {% endblock skill-1 %}
    </div>
    <div class="col">
        {% block skill-2 %}
        {% endblock skill-2 %}
    </div>
    <div class="col">
        {% block skill-3 %}
        {% endblock skill-3 %}
    </div>
    <div class="col">
        {% block skill-4 %}
        {% endblock skill-4 %}
    </div>
    <!-- MY SKILLS START -->




    <!-- MY SKILLS END -->
    {% block footer %}
    {% endblock footer %}
    <!-- FOOTER START -->




    <!-- FOOTER END -->
</body>
</html>